{{/* gotype:github.com/tylergannon/polytype/polytype.configArg*/ -}}
//go:build {{.BuildTag}}

package {{.PkgName}}

import (
    "encoding/json"
    "github.com/tylergannon/polytype"
)
{{ range .Methods }}
func ({{.TypeName}}) {{.MethodName}}() json.RawMessage {
    panic("not implemented")
}
{{ if $.Validate }}
func ({{.TypeName}}) ValidateJSON(_ []byte) error {
    panic("not implemented")
}
{{ if $.YAML }}
func ({{.TypeName}}) ValidateYAML(_ []byte) error {
    panic("not implemented")
}
{{ end -}}
{{ end -}}
{{ end }}

var (
	{{ range .Methods -}}
    _ = polytype.Declare({{.TypeName}}.{{.MethodName}})
	{{ end -}}
)
