{{/* gotype:github.com/tylergannon/go-gen-jsonschema/gen-jsonschema.configArg*/ -}}
//go:build {{.BuildTag}}
// +build {{.BuildTag}}

package {{.PkgName}}

import (
    "encoding/json"
    jsonschema "github.com/tylergannon/go-gen-jsonschema"
)
{{ range .Methods }}
func ({{.TypeName}}) {{.MethodName}}() json.RawMessage {
    panic("not implemented")
}
{{ end }}


var (
	{{ range .Methods -}}
    _ = jsonschema.NewJSONSchemaMethod({{.TypeName}}.{{.MethodName}})
	{{ end -}}
)
